<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Estados</title>
        <meta charset="UTF-8"/>
        <link href="../../static/css/estilo1.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        
        <header th:fragment="header">
            <h1>Estados</h1>
        </header>
        
         <footerr th:fragment="footer">
             <p>&COPY Derechos Reservados 2022</p>
        </footer>
        
    </body>
</html>
